@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,600;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* Testimonial Section */
.testimonial {
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  border-top: 55px solid rgb(237, 0, 0);
}

.test-block {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  left: 50%;
  top: 50px;
  width: 50%;
  height: 530px;
}

.testimonial-img {
  width: 100%;
}

.testimonial-title {
  position: absolute;
  text-transform: uppercase;
  color: rgb(227, 0, 0);
  font-size: 2em;
  font-weight: 600;
}

.testimonial-title-1 {
  top: 25px;
  padding-left: 10px;
  font-size: 2em;
}

.testimonial-title-2 {
  top: 65px;
  padding-left: 10px;
  font-size: 2em;
}

.testimonies {
  position: absolute;
  top: 140px;
  width: 100%;
}

.testimony {
  display: flex;
  margin-bottom: 55px;
  width: 100%;
}

.testimony-profile {
  height: 32px;
  padding-left: 10px;
}

.testimony-name {
  display: inline-block;
  padding: 0;
  height: 40px;
  vertical-align: top;
}

.testimony-verbiage {
  display: inline-block;
  margin-left: 20px;
  width: 100%;
  padding-right: 10px;
  color: rgb(227, 0, 0);
}

.testimony-text {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
}

@media (max-width: 640px) {
  .test-block {
    left: 25px;
    top: 25px;
    width: 100%;
    height: 560px;
  }

  .testimonial-img {
    object-fit: cover;
    object-position: 0;
    height: 620px;
  }

  .testimonial-title-1 {
    padding-right: 35px;
    font-size: 1.65em;
  }

  .testimonial-title-2 {
    padding-right: 35px;
    font-size: 1.65em;
  }

  .testimony-name {
    font-size: 1em;
  }

  .testimony-text {
    padding-right: 35px;
    font-size: 0.85em;
  }
}

/* Contact Us Section */
.contact-us {
  background-color: rgb(101, 191, 251);
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  /* Why did i have to put a negative value here to make sections butt up against each other? */
  margin-top: -4px;
  color: white;
}

.contact-title {
  margin-bottom: 15px;
}

.input-radio {
  margin-bottom: 15px;
}

.input-text {
  width: 50%;
  margin-bottom: 15px;
}

.contact-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  padding-top: 55px;
}

.label-format {
  margin-top: 25px;
  font-weight: 300;
  font-style: normal;
}
